<% content_for :title do %>Niche Tech Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="active-projects" data-view="Text" data-title="Active Projects" data-text="" data-moreinfo=""></div>
    </li>
  </ul>
</div>
